.choice-container {
  border-left: 2px solid #8F754F;
  padding-left: 30px;
  margin-top: 30px;
}

.choice-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.choice-header {
  text-shadow: 1px 0px #EFBC9B, 
    -1px 0px #8F754F;
}