
ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style-type: none;
  margin-right: 30px; 
}
li {
  text-decoration: none;
  padding-top: 6px;
}
.react-link, li {
  text-decoration: none;
  color: white;
}

.react-link:hover,
.logout-btn:hover {
  color: #D7B377;
  transition: color .3s;
}
  
  .hidden {
    display: none;
}

.logout-btn {
  cursor: pointer;
}

@media (max-width: 440px) {
  ul {
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
  }
  
}





