.overview-flex {
  color: #2B4162;
  display: flex;
  justify-content: space-around;
}

.overview-desc {
  position: absolute;
  text-align: right;
  color: #2B4162;
  margin-top: 30px;
  right: 26%;
}

.reset-container {
  margin-top: 170px;
  text-align: center;
}

.stat-tab {
  margin-bottom: 70px;
}
