.total-container {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
  justify-content: space-around;
  width: 35%;
}

.total-pie {
  margin: 0 auto;
}

.score {
  text-align: center;
}