.train-container {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: 0 auto;
  border: 3px double #2B4162;
  padding: 0 30px 50px 20px;
  margin-top: 30px;
  border-radius: 10px 0 10px 0;
  box-shadow: 3px 2px #D7B377;
  background-color: #2B4162;
  color: #F5F0F6;
}

.train-items {
  margin-right: 5%;
}

.flex-two {
  width: 40%;
}

